{# Making changes by editing fragments of code #}

{# Widgets #}
{%- block form_widget -%}
	<div class="jumbotron">
        {% if compound %}
            {{ block('form_widget_compound') }}
        {% else %}
            {{ block('form_widget_simple') }}
        {% endif %}
    </div>
{%- endblock form_widget -%}

{%- block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}


{%- block button_widget -%}
    {%- if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}

    <button type="{{ type|default('button') }}" class="{{class|default('btn btn-info')}}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}


{%- block checkbox_widget -%}
{% spaceless %}
	<div>
	 <label for="{{ id }}">
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ label|trans({}, translation_domain) }}</label>
</div>
{% endspaceless %}
{%- endblock checkbox_widget -%}


{# Text Area Widget #}
{%- block textarea_widget -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}


