{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container-fluid">
        <h1>MedInfo - Patient</h1> 
        <h2>Name: {{patient_name}}</h2>


    <table class="table">
        <tbody>
            <tr>
                <th>Prepared On</th>
                <td>{{ entity.preparedOn|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Number of Blisters</th>
                <td>{{ entity.numBlisters }}</td>
            </tr>
            <tr>
                <th>Delivery Pick Up Date: </th>
                <td>{{ entity.deliveryPickupDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Next Due Date: </th>
                <td>{{ entity.nextDueDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Is Active:</th>
                <td>{{entity.isActive}}</td>
            </tr>
        </tbody>
    </table>


        <a href="{{ path('patient') }}" class="btn btn-info" role="button">
            Back to the Patient List
        </a>

        <a href="{{ path('medinfo_edit', { 'id': entity.id }) }}" class="btn btn-info" role="button">
            Edit
        </a>

    {# {{ form(delete_form) }} #}

</div>
{% endblock %}
