{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container-fluid">
        <h1 class="page-header">Patient list: active and inactive</h1>
        

        <table class="table" > <!-- removed this class: record_tables  -->
            <thead>
                <tr>
                    <th>Patient Id</th>
                    <th>Name</th>
                    <th>Is Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
        
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('patient_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>

                    <td>{% if entity.isActive == 1 %}
                            <p>Y</p>
                        {% else %}
                            <p>N</p>
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ path('patient_show', { 'id': entity.id }) }}" class="btn btn-info" role="button">show</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
                <a href="{{ path('patient_new') }}" class="btn btn-info" role="button">Create a new entry</a>
                <a href="{{ path('patient_search') }}" class="btn btn-info" role="button">Search</a> 
                <a href="{{ path('patient_active') }}" class="btn btn-info" role="button">Show Active Patients</a>
                <a href="{{ path('patient_inactive') }}" class="btn btn-info" role="button">Show inActive Patients</a>
    </div>
{% endblock %}
